body {
  font-family: Arial, sans-serif;
}

.App {
  margin: 20px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.selected-row {
  background-color: #473f3f; /* Adjust the color code as needed */
}


button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button.active-page {
  background-color: #007bff;
  color: #fff;
}

.actions {
  margin-top: 20px;
}

.delete-selected-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-selected-btn:hover {
  background-color: #c82333;
}

.selected-row {
  background-color: #e0e0e0;
}
